<div class="container" ng-controller="projectCtrl as ctrl" ng-init="ctrl.getProjects()">
    <div class="col-sm-12">
        <div ng-repeat="record in projects">
            <div class="col-md-4 col-sm-6 col-lg-4 well">
                <div class="caption" >
                    <p align="center"><strong>{{record.fields.name | uppercase}}</strong></p>
                </div>
                <div class="col-md-12">
                    <div class="img-thumbnail" id="image" ng-if="record.fields.image">
                        <a ng-href="{{ record.fields.image }}" target="_blank"><img class="img-responsive" style="height: 20vmax;" ng-src="{{ record.fields.image }}" alt="{{ record.fields.image }}"></a>
                    </div>
                </div>
                <div class="caption" >
                    <p><strong>Nombre:</strong> {{record.fields.name }}</p>
                    <p><strong>Años de Experiencia:</strong> {{record.fields.description}}</p>
                    <p><a href="#/comments/{{record.pk}}">Enviar comentario</a></p>
                    <p><a href="#/detail/{{record.pk}}">Detalle independiente</a></p>
                </div>
            </div>
        </div>
    </div>
</div>